//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//
$mainFont: 'Open Sans', sans-serif;
$mainFontSize: 18px;
$mainFontHeight: 24px;
$mainFontWeight: 400;
$mainFontColor: #ffffff;

//$secondFont: 'Verdana';
//$secondFontSize: 14px;
//$secondFontHeight: 22px;
//$secondFontWeign: 400;
//$secondFontColor: #525252;

//$fixFont: Verdana;
//$fixFontSize: 14px;
//$fixFontHeight: 24px;

// Variables => Colors
//----------------------------------------------------//
$default: #4e525d;
$secondcolor: #8c9299;
$hovercolor: #44c0c2;
$acolor: #484c55;
